<p><a href="<?php echo $this->url(
    array(
        'controller' => 'guestbook',
        'action'     => 'sign'
    ),
    'default',
    true) ?>">Sign Our Guestbook</a></p>

Guestbook Entries: <br />
<table id="guestBooks" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->entries as $entry): ?>
        <tr>
            <td><?php echo $this->escape($entry->getId()) ?></td>
            <td><?php echo $this->escape($entry->getName()) ?></td>
            <td><?php echo $this->escape($entry->getFirstname()) ?></td>
            <td><?php echo $this->escape($entry->getEmail()) ?></td>
            <td><?php echo $this->escape($entry->getPhone()) ?></td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
