<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>GuestBook</title>

      <?php echo $this->headLink()->setStylesheet($this->baseUrl() . '/media/css/jquery.dataTables.min.css'); ?>
      <?php echo $this->headLink()->setStylesheet($this->baseUrl() . '/media/css/main.css'); ?>

      <?php echo $this->headScript()->appendFile($this->baseUrl() . '/media/js/jquery/jquery.js'); ?>
      <?php echo $this->headScript()->appendFile($this->baseUrl() . '/media/js/jquery/jquery.dataTables.min.js'); ?>
      <?php echo $this->headScript()->appendFile($this->baseUrl() . '/media/js/jquery/jquery-form-validator.js'); ?>
      <?php echo $this->headScript()->appendFile($this->baseUrl() . '/media/js/main.js'); ?>
    </head>
    <body>
        <div id="header">
            <div id="header-navigation">
                <a href="<?php echo $this->url(array('controller'=>'guestbook'), 'default', true); ?>"> Guestbook </a>
            </div>
        </div>

        <?php echo $this->layout()->content ?>
    </body>
</html>